body * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

body {
  width: 1300px;
  margin: 20px auto;
  background-color: rgb(240, 240, 240);
}

h1 {
  font-size: 5em;
  vertical-align: middle; 
  text-align: center;
  margin-top: 25px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -4px;
}

h2 {
  font-size: 1.5em;
  margin: 20px;
}

header, main, footer {
  width: 1300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
  padding: 20px;
  margin: 20px 0px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

main {
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#question {
  margin-bottom: 40px;
}

#resultsAndChart div {
  /* width: 480px; */
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  line-height: 1.5em;
  margin: 10px;
}

ul {
  width: 250px;
}

li {
  color: red;
  opacity: 0.6;
  list-style-type: square;
  margin-left: 23px;
}

li:hover {
  color: red;
  opacity: 1.0;
  font-weight: bold;
}

main img {
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 3px 3px 5px lightgray;
}

main img:hover {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px black
}

p {
  margin: 20px;
  text-align: left;
  padding: 0px 40px;
}