body * {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  color: rgb(0, 0, 0);
}

body {
  width: 1000px;
  margin: 0px auto;
  background-color: white;
}

h1 {
  font-size: 3em;
  vertical-align: middle;
  text-align: center;
  /* margin-top: 25px; */
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.8em;
  margin: 20px;
  transform: scale(.9, 1);
}

header, main, footer {
  width: 1000px;
  background-color: white;
  /* border-radius: 5px; */
  padding: 10px 30px;
  /* margin: 20px 0px; */
}

header, footer {
  background-color: white;
  border: none;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 80px;
}

#bus {
  height: 60px;
  margin-right: 15px;
}

main {
  background-color: rgb(248, 248, 248);
  border-radius: 4px;
  border: 1px solid rgb(199, 199, 199);
  text-align: center;
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#question {
  margin-bottom: 40px;
}

main img {
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 3px 3px 5px lightgray;
  transition: all 0.15s ease-in-out;
  width: 292px;
}

main img:hover {
  border-radius: 10px;
  border: 1px solid rgb(99, 99, 99);
  box-shadow: none;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.15s ease-in-out;
  /* animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-name: bounce-6;
  animation-timing-function: ease; */
}

/* @keyframes bounce-6 {
  0% {transform: scale(1, 1) translateY(0);}
  10% {transform: scale(1.05, .95) translateY(0);}
  30% {transform: scale(.95, 1.05) translateY(-5px)}
  50% {transform: scale(1.05, .95) translateY(0);}
  57% {transform: scale(1, 1) translateY(-2px);}
  64% {transform: scale(1, 1) translateY(0);}
  100% {transform: scale(1, 1) translateY(0);}
} */

#list {
  width: 260px;
}

#resultsAndChart {
  display: flex;
  justify-content: space-evenly;
}


#resultsAndChart div {
  border: 1px solid rgb(199, 199, 199);
  background-color: white;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  line-height: 1.5em;
  margin: 15px;
}

ul {
  width: 250px;
  margin-bottom: 10px;
}

li {
  color: red;
  opacity: 0.5;
  list-style-type: square;
  margin-left: -10px;
  transform: scale(.8, 1);
  font-size: 1.05em;
}

li:hover {
  color: red;
  opacity: 1.0;
}

p {
  margin: 20px 0px;
  text-align: justify;
  transform: scale(.9, 1);
  font-size: 1.2em;
  line-height: 1.2em;
}