#A {
  background-color: #c299ff;
}

#B {
  background-color: #cc99ff;
}

#all_products {
  background-color: #e699ff;
}

#chart {
  background-color: #ff99ff;
}

#E {
  background-color: #ff99e6;
}

#F {
  background-color: #ff99cc;
}